alembic==0.8.5
Babel==2.2.0
blinker==1.4
coverage==4.0.3
decorator==4.0.9
dominate==2.1.17
Flask==0.10.1
Flask-Babel==0.9
Flask-Bootstrap==3.3.5.7
Flask-Email==1.4.4
Flask-Migrate==1.8.0
Flask-Moment==0.5.1
Flask-OpenID==1.2.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WhooshAlchemy==0.56
Flask-WTF==0.12
flipflop==1.0
guess-language==0.2
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
pbr==1.8.1
python-editor==0.5
python-openid==2.2.5
pytz==2016.3
requests==2.9.1
six==1.10.0
speaklater==1.3
SQLAlchemy==1.0.12
sqlalchemy-migrate==0.10.0
sqlparse==0.1.19
Tempita==0.5.2
visitor==0.1.2
Werkzeug==0.11.4
Whoosh==2.7.3
WTForms==2.1
